@font-face {
    font-family: "Epilogue-Regular";
    src: url("../fonts/Epilogue-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Epilogue-Bold";
    src: url("../fonts/Epilogue-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Epilogue";
    src: url("../fonts/Epilogue-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Epilogue";
    src: url("../fonts/Epilogue-Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body a {
    text-decoration: none;
}
body ul li {
    list-style: none;
}
main header {
    background-color: #424245;
    border: 1px solid #00000080;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    padding: 16px 23px;
    z-index: 1;
}
main header:nth-child(2) {
    margin: 0px;
}
main header > div#logo-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main header > div#logo-site .logo-btn {
    display: flex;
    align-items: center;
    align-self: center;
}
main header > div#logo-site p.show-tablet-desktop {
    font-size: 1.5em;
    color: #FFF;
    align-items: center;
    padding-left: 10px;
}
main header > div#menu button {
    border: 0px solid #FFFFFF30;
    border-radius: 6px;
    color: #FFF;
    background-color: unset;

}
main header >div#search button.show-desktop {
    border: 0px solid #FFFFFF30;
    border-radius: 6px;
    color: #FFF;
    background-color: unset;
}
main header .show-desktop {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

main #hero {
    width: 100%;
    color: #000;
    box-sizing: border-box;
    height: 100%;
    background: #FBFBFB;
    text-align: center;
}
main #hero div.head {
    padding-top: 1px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F7;
}
main #hero > div.brand-item-pro {
    width: 100%;
    display: block;
    background-color: #FFF;
}
main #hero div.brand-media > picture.photo-hour {
    display: block;
    margin: 20px auto 20px;
    object-fit: cover;
    order: 1;
    max-width: 320px;
    max-height: 213.5px;
    min-height: 213.5px; 
    min-width: 320px;
    width: auto;
    height: auto;
}
main #hero div.links {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 17px;;
}

main #hero div.links > a.more-infos::after {
    content: ">";
    line-height: inherit;
    margin-left: 0.3em;
    top: 2px;
    text-decoration: none;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    position: relative;
    z-index: 1;
}
main #hero div.links > a.buy {
    display: flex;
    text-decoration: none;
    margin-left: 17px;
    color: #06C;
    letter-spacing: inherit;
    font-size: 19px;
    line-height: 1.23;
    text-align: center;
}
main #hero div.links > a.buy::after {
    content: ">";
    line-height: inherit;
    padding-left: 0.3em;
    top: 2px;
    text-decoration: none;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    position: relative;
    z-index: 1;
}
main #hero div.brand-item-se {
    background-color: #F9DCBF;
}
main #hero div.brand-item-se div.brand-head {
    padding-top: 20px;
}
main #hero div.brand-item-se div.brand-media {
    margin-top: 25px;
}
main footer {
    background-color: #F5F5F7;
    padding: 80px 23px 35px 23px;
    display: flex;
    flex-direction: column;
}
main footer #footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #F5F5F7;
    padding-bottom: 50px;
    width: 100%;
}
main footer > #footer-menu > .menu > ul > li {
    margin-top: 20px;
    font-family: "Anek-Light";
    font-weight: lighter;
}
main footer > #footer-menu > .menu {
    padding: 0 0 50px 0;
}
main .show-mobile {
    display: block;
}
main .show-tablet-desktop {
    display: none;
}
main .show-desktop {
    display: none;
}
main div#list-header {
    display: none;
    font-family: "Epilogue";
}
main header > div#logo-site > ul {
    padding: 0px;
}
main header div#search {
    display: none;
}

@media screen and (min-width: 768px) {
    main .show-mobile {
        display: block;
    }
    main .show-tablet-desktop {
        display: block;
    }
    main.show-all {
        display: none;
    }
    main .show-desktop {
        display: none;
    }
    main header div#search {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    main .show-mobile {
        display: none;
    }
    main .show-tablet-desktop {
        display: none;
    }
    main .show-all {
        display: block;
    }
    main .show-desktop {
        display: block;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    main header div#search {
        display: block;
    }
    main header {
        justify-content: center;
    }
    main div#list-header {
        display: block;
    }
    main header > div#list-header > nav > ul {
        text-align: center;
        display: flex;
        padding: 0px;
    }
    main header > div#list-header > nav > ul > li {
        padding: 35px;
    }
    main header > div#list-header > nav a {
        color: #FFF;
        text-decoration: a;
    }
    main #hero div.head-group {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }
    main footer > #footer-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    main footer > #footer-menu > h2 {
        width: 100%;
        font-family: "Anek-Light";
        font-weight: normal;
        padding: 0 15x;
        margin: 4px 0 0 35px;
    }
@media screen and (min-width: 1440px) {
    main .show-mobile {
        display: none;
    }
    main .show-tablet-desktop {
        display: none;
    }
    main .show-all {
        display: block;
    }
    main .show-desktop {
        display: block;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    main header div#search {
        display: block;
    }
    main header {
        justify-content: center;
    }
    main div#list-header {
        display: block;
    }
    main header > div#logo-site .logo-btn,
    main header > div#shopping-bag,
    main header > div#search {
        padding: 35px;
    }
    main header > div#list-header > nav > ul {
        text-align: center;
        display: flex;
        padding: 0px;
    }
    main header > div#list-header > nav > ul > li {
        padding: 35px;
    }
    main header > div#list-header > nav a {
        color: #FFF;
        text-decoration: a;
    }
    main #hero > div {
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }